<div class="container p-3">
  <div class="form-group">
    <label for="clientName"> Client Name </label>
    <input
      type="text"
      class="form-control"
      id="clientName"
      name="clientName"
      placeholder="Client Name"
      [(ngModel)]="client.name"
    />
  </div>
  <div class="form-group">
    <label for="clientPrice"> Mobile </label>
    <div class="input-group mb-2">
      <input
        type="number"
        class="form-control"
        id="mobile"
        name="mobile"
        placeholder="Mobile"
        [(ngModel)]="client.mobile"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="clientPrice"> Products </label>
    <ng-multiselect-dropdown
      [settings]="dropdownSettings"
      [placeholder]="'Select Products'"
      [data]="products"
      [(ngModel)]="selectedItems"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)"
    >
    </ng-multiselect-dropdown>
  </div>
  <button type="button" class="btn btn-primary" (click)="saveClient(client)">
    Save
  </button>

  <h3>Clients</h3>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Client Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ client.name }}</td>
        <td>{{ client.mobile }}</td>
        <td><i class="bi bi-file-x" (click)="deleteClient(i)"></i></td>
      </tr>
    </tbody>
  </table>
</div>
