<div class="container p-3">
  <div class="card-deck mb-3">
    <accordion [closeOthers]="true" [isAnimated]="true">
      <accordion-group
        *ngFor="let client of clients"
        heading="{{ client.name }}"
      >
        <div class="form-group row" *ngFor="let item of client.products">
          <label for="{{ item.name }}" class="col-12 col-form-label">
            {{ item.name }} ({{ item.price | currency }})
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control"
              id="{{ item.name }}"
              [(ngModel)]="item.quantity"
              (ngModelChange)="changeQuantity(item)"
            />
          </div>
          <label for="{{ item.name }}" class="col-6 col-form-label">
            Total : {{ item.itemTotal | currency }}
          </label>
        </div>
        <div class="row">
          <div class="col-6">
            <h1 class="card-title pricing-card-title">
              {{ client.products | sum: "itemTotal" | currency }}
            </h1>
          </div>
          <div class="col-6">
            <button
              type="button"
              class="btn btn-outline-primary mr-1"
              (click)="saveOrders(client.id, client.products)"
            >
              <i class="bi-download"></i> Save
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary mr-1"
              (click)="sendMessage(client)"
            >
              <i class="bi-upload"></i> Send
            </button>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
